.navbar-container {
  margin-right: auto;
    margin-left: auto;
  width: 100%;
  height: 60px; /* Evite 100% se for uma barra fixa, use um valor fixo ou min-height */
  display: flex;
  align-items: center;
  /* Justifica o conteúdo para o início (esquerda) */
  justify-content: flex-start; 
  /* Adiciona um respiro nas laterais para a logo não encostar na borda da tela */
  padding: 0 20px; 
  background: radial-gradient(circle at center, #0d141f 0%, #05070a 100%);
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  box-shadow: 
    0 0px 10px  rgba(0, 242, 255, 0.4), 
    inset 0 0 2px rgba(255, 255, 255, 0.1);
  
   z-index: 1000;
  
}

.logo-navbar {
  /* Removido o padding: auto que pode causar comportamentos estranhos */
  width: 50px;
  height: 50px;
  background-color: #0a0a0a;
  border-radius: 12px; /* Aumentei um pouco para manter a proporção de ícone */
  

  
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 
    0 10px 20px  rgba(0, 242, 255, 0.4), 
    inset 0 0 2px rgba(255, 255, 255, 0.1);
  
  position: relative;
  overflow: hidden;
  
  /* MARGIN: Caso queira um ajuste fino de distância extra da esquerda */
  margin-left: 5%; 
}

.logo-navbar img {
  /* Como você quer que pareça um ícone de app dentro da caixa, 
     o ideal é que a imagem seja menor que a div (ex: 70%) para ter margem interna. 
     Se usar 120%, ela vai vazar ou ficar cortada. */
  width: 130%; 
  height: 130%;
  filter: drop-shadow(0 0 8px rgba(0, 242, 255, 0.4));
  object-fit: contain;
}
.logo-text h1 {
    padding-left: 5px;
    font-size: 20px;
    color: #ffffff;          /* Cor branca para "Track" */
    font-family: sans-serif; /* Use a fonte que preferir */
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-text h1 span {
    color: #00f2ff;          /* Cor Ciano Neon para "Gym" */
    /* Adiciona um leve brilho para combinar com a logo */
    text-shadow: 0 0 10px rgba(0, 242, 255, 0.5); 
}

.navbar-actions {
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-right: 100px;
}
